<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='styles/cashBalance.css')}}"
    />
    <title></title>
  </head>
  <body>
    <div class="cash">
        <h3>Cash Balance</h3>
        <p>[Amount at bank]</p>
      </div>
      <div class="cashList">
        <ul>
            <li>
                Date created
            </li>
            <li>
                Document Number
            </li>
            <li>
                Description
            </li>
            <li>
                Amount
            </li>
        </ul>
      </div>
  </body>
</html>