<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='styles/login.css')}}"
    />
  </head>
  <body>
    <div class="container">
      <div class="form-box">
        <h2 class="title">Sign In</h2>
      </div>
      <form class="form-box" action="/login" method="POST">
        <label for="username">User Name</label>
        <input
          type="text"
          id="username"
          name="username"
          placeholder="username"
          required
          autocomplete="username"
          onkeydown="if(event.key === 'Enter') { event.preventDefault(); document.getElementById('loginForm').submit(); }"
        />

        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="password"
          required
          autocomplete="new-password"
        />

        <div class="btn-field">
          <button type="submit">Sign In</button>
        </div>
        <p>Forget your password! <a href="reset">Reset here</a></p>
        <br />
        <div class="register">
          <a href="{{ url_for('signup') }}">Register account!</a>
        </div>
      </form>
    </div>

    <!--<script src="static/scripts/login.js"></script>-->
  </body>
</html>
