<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/ord_line.css' )}}"
    />
    <title></title>
  </head>
  <body>
    <div class="b-cont">
    <!-- Go Back Button-->
    <button class="back" onclick="goBack()">Go Back</button>
  </div>
    </body>
    <header class="book_header">
      
      <div class="b_h1">
        <h1>Manage Orders</h1>
      </div>
    </header>
    <section class="section">
      <div class="details">
        <!--<a href="{{ url_for('ord') }}">Add new</a>-->
        <a href="{{ url_for('invoice') }}">Add new</a>
      </div>
    </section>

    <table class="inc_table">
      <thead>
          <tr>
              <td>Id</td>
              <td>Prod code</td>
              <td>Prod name</td>
              <td>Price</td>
              <td>Qty</td>
              <td>Amt</td>
              <td>Total</td>
              <td>Date Created</td>
              <td>User Id</td>
              <td>User Fullname</td>
          </tr>
      </thead>
     
      <tbody class="rowtr" >
    
          {% for entry in invoice_entries %}
          <tr>
              <td>{{ entry.id }}</td>
              <td>{{ entry.prod_code }}</td>
              <td>{{ entry.prod_name }}</td>
              <td>{{ entry.price }}</td>
              <td>{{ entry.qty }}</td>
              <td>{{ entry.amt }}</td>
              <td>{{ entry.total }}</td>
              <td>{{ entry.date_created }}</td>
              <td>{{ entry.user_id }}</td>
              <td>{{ entry.user_fullname }}</td>
          </tr>
          {% endfor %}
      </tbody>
      
    </table>

    <script>
      function goBack() {
        window.history.back();
      }
    </script>
    
  </body>
</html>
