<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoices</title>
</head>
<body>
    <h1>Invoices</h1>

    <button id="generate-invoice">View Invoices</button>

    <!-- Embed the invoice data in the HTML -->
    <div id="invoiceData" style="display: none;">{{ invoices | tojson }}</div>
    <div id="totalAmount" style="display: none;">{{ total }}</div>

    <script src="{{ url_for('static', filename='scripts/receipt.js') }}"></script>

</body>
</html>
