<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='styles/receivables.css')}}"
    />
    <title></title>
  </head>
  <body>
    <div class="rec_hub">
        <h3>Receivables Hub</h3>
        <p>[Revenues yet to receive]</p>
      </div>
      <div class="recList">
        <ul>
            <li>
                Date created
            </li>
            <li>
                Invoice Number
            </li>
            <li>
                Description
            </li>
            <li>
                Amount
            </li>
        </ul>
      </div>
  </body>
</html>