<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='styles/signup.css')}}"
    />
  </head>
  <body>
    <div class="container">
      <div class="form-box">
        <h2 id="title">Sign Up</h2>
      </div>
      <form class="form-box" action="/signup" method="POST" onsubmit="signUp(event)">
        <label for="fullname">Full Name</label>
        <input
          type="text"
          id="fullname"
          name="fullname"
          placeholder="fullname"
          required
        />

        <label for="username">User Name</label>
        <input
          type="text"
          id="username"
          name="username"
          placeholder="username"
          required
          autocomplete="username"
        />

        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="password"
          required
          autocomplete="new-password"
        />

        <label for="verify_password">Verify Password</label>
        <input
          type="password"
          id="verify_password"
          name="verify_password"
          placeholder="verify password"
          required
          autocomplete="new-password"
        />

        <div class="btn-field">
          <button type="submit">Sign Up</button>
        </div>
      </form>
    </div>

    <script src="{{ url_for('static', filename='scripts/signup.js') }}"></script>
  </body>
</html>
