*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*style for pay_hub */
.pay_hub {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 15px;
    background-color: black;
    height: 40px;
    width: auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.pay_hub h3 {
    margin-top: 8px;
    font-weight: bold;
    color: #fff;  
    font-size: 14px;
    padding-top: 12px; 
    margin-left: 30px;
}
 p {
    margin-top: 10px;
    font-weight: bold;
    color: rgb(110, 244, 38);  
    font-size: 10px;
    margin-top: -14px; 
    text-align: center;
    margin-right: 33%;
}

/*style for paypList */
.payList {
    width: auto;
    height: auto;
    margin-right: 25px;
    margin-left: 25px;
    background-color: rgb(183, 240, 183);
    margin-top: 3px;
}

.payList ul {
   display: flex;
   gap: 50px;
   margin-left: 30px;
}

.payList ul li {
    list-style: none;
    font-size: 12px;
    font-weight: bold;
    color: rgb(9, 104, 99);
 }