*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
/* styles for body - container */
.container {
    width: 100%;
    height: 100vh;
    background-color: lightseagreen;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: -30px;
}

/* style for form box */
.form-box {
    width: 80%;
    max-width: 310px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-55%, -55%);
    padding: 55px 30px 35px;
    text-align: center;
    background-color: #fff;
}
/*style for h2 */
.form-box h2 {
   font-size: 22px;
   color: rgb(70, 1, 07, 43);
   margin-top: -10px;
}

.form-box label {
   display: flex;
    font-size: 15px;
}

/* styles for logo */
.input-field {
    margin: 10px;
    background: #be5757;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 50px;
    transition: max-height o.5s;
    /*overflow: hidden;*/
}

input {
    width: 100%;
    height: 30px;
    background: lightblue;
    border: 0;
    outline: 0;
    padding: 8px 8px;
}

.input-group p {
    font-size: 12px;
    font-weight: bold;
}

.input-group a {
    text-decoration: none;
    color: rgb(3, 119, 176);
}

.btn-field {
    margin-top: 30px;
    margin-right: 70%;
}

.btn-field button {
    background-color: #4CAF50;
    border-radius: 10px;
    color: #fff;
    height: 25px;
    width: 70px;
    text-align: center;
    cursor: pointer;
    padding: -5px;
}


